.lefttoright {
  background-color: aqua;
  animation-name: lefttoright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes lefttoright {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.grad {
  background: linear-gradient(0deg, #000000 0%, #040101 98%);
}
